body {
    background-image: url(./light-wood-texture-background-surface-old-natural-pattern-wooden-rustic-style-wallpaper-timber-179420274.jpg);
}

#Instructions {
    text-align: left;
    margin-left: 10%;
    margin-top: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    font-weight: 500;
}

p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px; 
    padding-top: 10px;
    margin-left: 8%;
}

#life {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    font-weight: 500;
    margin-top: -45px;
    color:rgb(227, 0, 34);
}

#name {
    text-align: right;
    padding-right: 150px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    font-weight: 500;
    margin-top: -45px;
}

#main-buttons {
    background: #385a94;
    border-radius: 50%;
    height: 500px;
    width: 500px;
    position: relative;
    border-style: solid;
    border-width: 10px;
    margin: auto;
    margin-top: -300px;
    box-shadow: 8px 8px 15px 5px whitesmoke;
}

#yellow-button {
    position: absolute;
    height: 250px;
    width: 250px;
    border-radius: 250px 0 0 0;
    background: rgb(204, 204, 0);
    top: 50%;
    left: 50%;
    margin: -250px 0 0 -250px;
    border-style: solid;
    border-width: 5px;
    box-sizing: border-box;
}

#blue-button {
    position: absolute;
    height: 250px;
    width: 250px;
    border-radius: 0 250px 0 0;
    background: darkblue;
    top: 50%;
    left: 50%;
    margin: -250px 0 0 0;
    border-style: solid;
    border-width: 5px;
    box-sizing: border-box;
}

#green-button {
    position: absolute;
    height: 250px;
    width: 250px;
    border-radius: 0 0 250px 0;
    background: rgb(0, 128, 0);
    top: 50%;
    left: 50%;
    margin: 0 0 -250px 0;
    border-style: solid;
    border-width: 5px;
    box-sizing: border-box;
}

#red-button {
    position: absolute;
    height: 250px;
    width: 250px;
    border-radius: 0 0 0 250px;
    background: rgb(227, 0, 34);
    top: 50%;
    left: 50%;
    margin: 0 0 0 -250px;
    border-style: solid;
    border-width: 5px;
    box-sizing: border-box;
}

#inner-circle {
    position: absolute;
    background: white;
    border-radius: 50%;
    height: 250px;
    width: 250px;
    border-style: solid;
    border-width: 10px;
    top: 50%;
    left: 50%;
    margin: -125px 0px 0px -125px;
    box-sizing: border-box;
  }

#title {
    position: absolute;
    margin-left: 150px;
    margin-top: 185px;
    font-family: 'ZCOOL KuaiLe', cursive;
    font-size: 28px;
    font-weight: bold;
}

#Levels {
    position: absolute;
    margin-left: 210px;
    margin-top: 230px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

#display-level {
    border: 3px solid black;
    text-align: center;
    padding: 5px;
    font-size: 25px;
    background-color: lightgrey;
}

#information {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    color: blue;
    text-align: left;
    position: absolute;
    left: 80px; 
    bottom: 150px;
    border: 2px solid black;
    padding: 10px;
}

h2 {
    font-size: 20px;
    color: blue;
    text-align: right;
    position: absolute;
    right: 50px; 
    bottom: 50%;
    border: 3px solid black;
    padding: 40px 75px 200px 75px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 25px;
}

#quotes {
    position: absolute;
    text-align: center;
    text-justify: inter-word;
    right: 75px; 
    bottom: 60%;
    padding: 30px;
    width: 25%;
    margin-top: 10px;
    font-family: fantasy;
    font-size: 17px;
    font-weight: 300;
}

#motivation {
    position: absolute;
    text-align: center;
    right: 200px;
    bottom: 55%;
    font-weight: 300;
}

#wildcard {
    position: absolute;
    right: 200px;
    bottom: 10%;
    border: 2px solid black;
    padding: 0px 75px 125px 75px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
}

#wildcard-type {
    position: absolute;
}

#wildcard-button {
    position: absolute;
    right: 280px;
    bottom: 12%;
}


